@use 'src/app/styles/variables' as vars;

.gridGroup {
  overflow-x: auto;

  table {
    width: 100%;

    th {
      font-weight: bold;
      text-align: center;
      background-color: rgba(vars.$secondary-color, 0.36);
    }

    th, td {
      border: 1px solid vars.$secondary-color;
      padding: 10px;
    }

    td {
      padding: 2px 10px;
      vertical-align: middle;
      background-color: white;
    }

    .customSize01 {
      width: 100px;
    }

    .leftColumn {
      text-align: left;
    }

    .centerColumn {
      text-align: center;
    }

    .rightColumn {
      text-align: right;
    }

    .actionColumn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .emptyData {
      text-align: center;

      td {
        padding: 10px;
        font-weight: bold;
      }
    }
  }
}
