.customButton {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;

  background-color: #655aee;
  border-radius: 5px;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;
  padding: 0 10px;

  cursor: pointer;

  .buttonIcon {
    margin-right: 5px;
  }
}
